<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Ninjas</title>
    {% load static %}
    <link rel="stylesheet" type=text/css href="{% static 'style.css'%}">
</head>

<body>
    <form action="/process_dojo" method="POST">
        {% csrf_token %}
        <h1>Add a Dojo</h1>
        <div class="ninja_input_section">
            <div class="dojo_sectopm">
                <label for="name">Name</label>
                <input type="text" name="name" id="name"><br>
                <label for="city">City</label>
                <input type="text" name="city" id="city"><br>
                <label for="state">State</label>
                <input type="text" name="state" id="state"><br>
                <button>Add</button>
            </div>
        </div>
    </form>
    <form action="/process_ninja" method="POST">
        {% csrf_token %}
        <h1>Add a Ninja</h1>
        <div class="dojo_input_section">
            <div class="ninja_sectopm">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name"><br>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name"><br>
                <label for="select a dojo">Dojo</label>
                <select name="dojo" id="select a dojo">
                    <option value="0">-select a dojo-</option>
                </select><br>
                <button>Add</button>
            </div>
        </div>
    </form>
    <hr>
    <div>
        <h1>All the Dojos</h1>
        <p>Ninjas at the Painting Dojo</p>
        {% for dojo in all_dojos %}
        <p>{{ dojo.name }} - {{ dojo.state}}</p>
        <p>{{ dojo.ninjas.all}}</p>
        {% endfor %}
        <p>Ninjas at the Architecture Dojo</p>
        {% for ninja in all_ninjas %}
        <p>{{ ninja.first_name}} - {{ninja.last_name}}</p>
        {% endfor %}
    </div>
    
</body>

</html>