<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Ninjas</title>
    {% load static %}
    <link rel="stylesheet" type=text/css href="{% static 'style.css'%}">
</head>
<body>
    <form action="/process" method="POST">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </form>
    <h1>Add a Dojo</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
        </tr>
        <tr>
            <td>{{ dojo.name }}</td>
            <td>{{ dojo.city }}</td>
            <td>{{dojo.state}}</td>
        </tr>
    </table>
    <h1>Add a Ninja</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Dojo</th>
        </tr>
        <tr>
            <td>{{ ninja.first_name }} {{ ninja.last_name }}</td>
            <td>{{ ninja.dojo }}</td>
            <td></td>
        </tr>
    </table>

</body>
</html>